<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Courses store</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isHome}}
                <li class="active"><a href="/">Main page</a></li>
            {{else}}
                <li><a href="/">Main page</a></li>
            {{/if}}

            {{#if isCourses}}
                <li class="active"><a href="/courses">Courses page</a></li>
            {{else}}
                <li><a href="/courses">Courses page</a></li>
            {{/if}}

            {{#if isAuth}}

                {{#if isAdd}}
                    <li class="active"><a href="/add">Add course</a></li>
                {{else}}
                    <li><a href="/add">Add course</a></li>
                {{/if}}

                {{#if isProfile}}
                    <li class="active"><a href="/profile">isProfile</a></li>
                {{else}}
                    <li><a href="/profile">Profile</a></li>
                {{/if}}

                {{#if isCart}}
                    <li class="active"><a href="/cart">Cart</a></li>
                {{else}}
                    <li><a href="/cart">Cart</a></li>
                {{/if}}

                {{#if isOrder}}
                    <li class="active"><a href="/orders">Orders</a></li>
                {{else}}
                    <li><a href="/orders">Orders</a></li>
                {{/if}}

                <li><a href="/auth/logout">Sing out</a></li>

            {{else}}

                {{#if isLogin}}
                    <li class="active"><a href="/auth/login#login">Sing in</a></li>
                {{else}}
                    <li><a href="/auth/login#login">Sing in</a></li>
                {{/if}}

            {{/if}}

        </ul>
    </div>
</nav>